# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore corpus binaries
n_train_corpus.bin
n_valid_corpus.bin
o_train_corpus.bin
o_valid_corpus.bin

*.so
*.cpp

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store



